* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
}


.left-main {
    background-image: url(../img/maxresdefault.jpg);
    height: 100%;
    width: 50%;
    background-size: cover;
    background-width: 100%;
}

.right-main {
    height: 100%;
    width: 50%;
    background-size: cover;
}